[user]
  name  = Nam Nguyen
  email = nguyenvietnam2401@gmail.com
[color]
  ui = auto
[core]
  excludesfile = ~/.gitignore
[rerere]
  enabled    = true
  autoUpdate = true
[branch]
  sort = -committerdate
[maintenance]
  auto     = false
  strategy = incremental
[fetch]
  writeCommitGraph = true
