[user]
  name  = Nam Nguyen
  email = nguyenvietnam2401@gmail.com
[color]
  ui = auto
[core]
  excludesfile = ~/.gitignore_global
[rerere]
  enabled    = true
  autoUpdate = true
[branch]
  sort = -committerdate
[maintenance]
  auto     = false
  strategy = incremental
[fetch]
  writeCommitGraph = true
[alias]
  graph    = log --all --decorate --oneline --graph
  cbranch  = rev-parse --abbrev-ref HEAD
  conflict = diff --name-only --diff-filter=U
