return {
    plugins = {
        lsp = {
            enabled = false,
        },
        format = {
            enabled = false,
        },
        debug = {
            enabled = false,
        },
        database = {
            enabled = false,
        },
        repl = {
            enabled = false,
            gvars = {
                ["conjure#filetypes"] = { "clojure" },
            },
        },
        clojure = {
            enabled = false,
        },
        csharp = {
            enabled = false,
        },
        java = {
            enabled = false,
        },
    },
}
